<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Aryan Chat</title>
		<!-- fontawesome -->
		<link
			rel="stylesheet"
			href="https://use.fontawesome.com/releases/v5.15.1/css/all.css"
			integrity="sha384-vp86vTRFVJgpjF9jiIGPEEqYqlDwgyBgEF109VFjmqGmIY/Y4HV4d3Gp2irVfcrp"
			crossorigin="anonymous"
		/>
		<!-- css -->
		<link rel="stylesheet" href="/css/hall.css" />
	</head>
	<body>
		<!-- info from server to client js -->
		<div id="info">
			<span id="username"><%= user.username %></span>
		</div>

		<nav>
			<a href="/home" id="home-link">
				<i class="fas fa-fighter-jet"></i>
				<span id="brand">Aryan Chat</span>
			</a>
			<span id="hall-name"><%= hall.name %></span>
		</nav>
		<table>
			<tr>
				<td id="pannel">
					<button id="copy-invite-link">copy invite link</button>
					<div id="members-list-container">
						<ul id="members-list">
							<% for( let i = 0; i < hall.members.length; i++ ) { %>
							<li class="member"><%= hall.members[i] %></li>
							<% } %>
						</ul>
					</div>
				</td>
				<td id="messages">
					<div id="messages-scroll">
						<!-- <div class="message">
							<div class="sender">Obi Wan</div>
							<p>Hello There</p>
						</div> -->
					</div>
				</td>
			</tr>
		</table>
		<div id="bottom-spacer"></div>
		<div id="bottom">
			<form id="message-form">
				<input type="text" id="msg"/>
				<input type="submit" value="send" />
			</form>
		</div>

		<!-- socket -->
		<script src="/socket.io/socket.io.js"></script>
		<!-- javascript -->
		<script src="/js/hall.js"></script>
	</body>
</html>
