<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Aryan Chat</title>
	</head>
	<body>
		<h1>Welcome, <%= user.username %></h1>

		<!-- logout -->
		<form action="/logout" method="get">
			<input type="submit" value="logout" />
        </form>
        
        <!-- create hall -->
		<a href="/create">create hall</a>

		<br>
		
		<!-- join hall via hal code -->
		<a href="/join">join hall (via invite code)</a>

        <!-- rendering halls -->
        <h3>halls</h3>
		<ul>
			<% for( let i = 0; i < user.halls.length; i++ ) { %>
			<li>
				<a href="/hall/<%= user.halls[i] %> "><%= user.halls[i] %> </a>
			</li>
			<% } %>
		</ul>
	</body>
</html>
