<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Join Hall Via Invite Code</title>
	</head>
	<body>
		<form action="/join" method="post">
			<input type="text" placeholder="invite code" name="code" />
			<input type="submit" />
		</form>
	</body>
</html>
