* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

#info {
	display: none;
}

table {
	border-collapse: collapse;
}

nav {
	height: 5vh;
}

#home-link {
	color: black;
	text-decoration: none;
	font-size: 30px;
	padding-left: 10px;
	margin-right: 110px;
}

#hall-name {
	font-size: 26px;
}

td {
	border: 1px solid black;
	vertical-align: text-top;
	height: 83vh;
}

#pannel {
	width: 20vw;
}

#copy-invite-code {
	width: 20vw;
	height: 30px;
	font-size: 20px;
	background-color: white;
}

.member {
	margin: 5px;
	padding-left: 10px;
	font-weight: 500;
	font-size: 20px;
}

#messages {
	width: 80vw;
	max-height: 83vh;
}

#messages-scroll {
	overflow: auto;
	height: 100%;
}

.message {
	border: 3px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	padding-left: 20px;
}
.sender {
	font-weight: 700;
	margin-left: -10px;
}
.time {
	text-align: right;
}
.message-text {
	width: 70vw;
	word-wrap: break-word;
}

#bottom-spacer {
	height: 3vh;
}

#bottom {
	position: absolute;
	margin-top: -1vw;
}

input[type="text"] {
	width: 90vw;
}
input[type="submit"] {
	width: 8vw;
}
input[type="text"],
input[type="submit"] {
	font-size: 30px;
}
